body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #bb70ec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: #3a3939;
  padding: 25px;
  border-radius: 17px;
  width: 320px;
  color: white;
  text-align: center;
}

input {
  width: 100%;
  height: 45px;
  font-size: 18px;
  margin-bottom: 8px;
  text-align: right;
  padding: 5px;
  border-radius: 6px;
  border: none;
}

.result {
  height: 30px;
  text-align: right;
  font-size: 19px;
  margin-bottom: 10px;
  color: #ffffff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #8c43df;
  color: white;
}

button:hover {
  background: #8737d1;
}

.equal {
  grid-column: span 2;
  background: #15ac4c;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
